.conatiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
}


.cardAction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    opacity: 1;
    padding: 0px;
    font-size: 20px;
    animation: smoothPadding 0.2s linear;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit_delete_controls {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    align-items: center;
}

@media (min-width: 368px) {

    .edit_delete_controls {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        gap: 10px;
        align-items: center;
    }
}

@keyframes smoothPadding {
    0% {
        padding: 10px 12px;
    }

    100% {
        padding: 0;
    }
}